html {
    background-color: #c3add4;
}

.gameElement {
    position: absolute;
    top: 0;
    left: 0;
}

#background {
    background: url("../images/bg-trees-clouds.png");
    background-size: cover;
    position: absolute;
    width: 1600px;
    height: 500px;
}

#gameContainer {
    width: 800px;
    margin-left: 0px; 
    overflow: hidden;
    position: relative; 
    height: 500px;
}

#wrapper {
    width: 800px;
    height: 500px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid white 10px;
}

#counter {
    position: fixed;
    top: 16px;
    left: 185px;
    font-size: 16px;
    font-family: 'Press Start 2P';
    color: white;
    user-select: none;
}

#score {
    position: fixed;
    top: 27;
    left: 87;
    font-size: 16px;
    color: white;
    font-family: 'Press Start 2P';
    user-select: none;
}

#score_picture {
    position: fixed;
    top: 16px;
    left: 16px;
}

#start-button {
    width: 128px;
    height: 36px;
    border: none;
    background: none;
    position: absolute;
    bottom: 78px;
    -webkit-user-drag: none;
    margin-left: 336px;
}

#start-button>img {
    -webkit-user-drag: none;
}

#start-button>img:hover {
    transform: scale(1.05);
}

#start-screen>img {
    -webkit-user-drag: none;
}

#restart-button {
    width: 174px;
    height: 36px;
    border: none;
    background: none;
    position: absolute;
    bottom: 115px;
    -webkit-user-drag: none;
    margin-left: 313PX;
}

#restart-button>img {
    -webkit-user-drag: none;
}

#restart-button>img:hover {
    transform: scale(1.05);
}

#gameover-screen>img {
    -webkit-user-drag: none;
}